.inputSearch{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5em;
}

.img_searchbar {
    opacity: 1;
    margin-right: 0.5em;
    width: 1.8em;
}

@media only screen and (max-width: 828px){
    .inputSearch{
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        margin-right: 1.5em;
    }

    .img_searchbar {
        width: 10%;
    }
  }


