
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;400;700&display=swap');


.event_cards {
    display: flex;
    gap:1em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    background-color: #ffffff;
    width: 100%;
}

.page_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("src/assets/background7.jpg");
    background-size:cover;
    font-family: 'Hanken Grotesk', sans-serif !important;
    font-size: 3.5em !important;
    color:  #ffffff !important;
    background-color: #cc63f9;
    text-transform: uppercase;
    font-weight: 400 !important;
    width: 100%;
    height: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

.search {
    padding: 1em;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #983cc4;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    flex-direction: row;
}

@media only screen and (max-width: 828px){
    .search{
       display: flex;
       width: 100%;
       flex-wrap: wrap;
       justify-content: center !important;
       }

    .page_title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:3em !important;
        text-transform: uppercase;
        width: 100% !important;
    }
  }
