@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;400;700&display=swap');

.stats-background {
    height: 100vh;
    margin-bottom: 5em;
}

.tableContainer{
    font-family: 'Hanken Grotesk', sans-serif;
    text-transform: uppercase;
}

.rt-TableRoot {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

.tableTitle {
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;

}