@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


  .bg_details {
    min-height: 100vh;
    padding: 0;
    color: #224;
  }

  .banner {
    position: relative;
    overflow: hidden;
    width: 100vw; 
    height: 300px;
    margin: 0;
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: blur(10px); 
  }

.card_details {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  max-width: 100vh;
  margin: 0 auto;
  margin-top: 4em;
  gap: 1em;
  padding: 30px;
  color: #224;
}

.card_details img {
  width: 35vh;
  height: auto;
  margin-bottom: 2em;
}

.rounded-image {
  overflow: hidden;
  border-radius: 10px;
}

.text_column {
  flex: 1; 
  margin-right: 2em;
}

.image_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 2em;
}

h3 {
  color: #9378ad;
  margin: 0;
  font-weight: 500;
  font-size: 1.1em;
}

.details_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 1.3em;
}

.details_content > * {
  margin: 0;
}

/* animación para cargar la página */
.details-enter {
  opacity: 0;
}

.details-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}


.details-link-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.details-link-enter {
  opacity: 0;
  transform: translateY(20px);
}



