.cardContainer{ 
    display: flex;
    justify-content: center;
}

.container {
    background-color: #FAF3F0;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 40% */
}

.border {  height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;

}

.card {  
    height: 379px;
    width: 300px;
    background: #f68fc3 !important;
    border-radius: 10px !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-body, .card-title, .card-text {
    background-color: #f68fc3 !important;
    font-family: 'Lato', sans-serif;
    padding: 0.5rem;
}

.card-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
}

.card_img {
    width: 100%;
    
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.price_button {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center !important;
    gap: 1em;
}
