
footer {
    background-color: #D4E2D4;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar__items {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    list-style-type: none;
}

.navbar__item, .social {
    background-color: #D4E2D4;
    width: 2.2em;
}
