.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.event_cards {
    display: flex;
    gap:1em;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}